*{ 
    margin: 0px;
    padding: 0px;
    border: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

/*******Global classes*******/

.grid {
    display: grid;
}

.flex {
    display: flex;
}

.Fr-wrap {
    flex-wrap: wrap;
}

.absolute {
    position: absolute;
}

.AI-center {
    align-items: center;
}

.JC-space-around {
    justify-content: space-around;
}

.JC-center {
    justify-content: center;
}

.M-auto {
    margin: auto;
}

.F-left {
    float: left;
}

.F-right {
    float: right;
}

.OF-auto {
    overflow: auto;
}

.Br-15 {
    border-radius: 15px;
}





/*******nav-bar*******/

nav {
    grid-column: 1/3;
    grid-row: 1/2;
    height: 97px;
}

nav div {
    border: 1px solid black;
}

.nav-logo {
    width: 50px;
    height: 50px;
}

.nav-words {
    width: 120px;
    height: 50px;
}

.nav-search {
    width: 400px;
    height: 60px;
}

/*******second nav-bar*******/

.main-title-container div {
    border: 1px solid black;
}

.main-title-container {
    width: 500px;
    top: 160px;
    left: 50%;
    transform: translate(-50%);
}

.main-title-line1 {
    width: 100%;
    height: 70px;
}

.main-title-line2 {
    width: 40%;
    height: 70px;
}

.second-title-container div {
    border: 1px solid black;
}

.second-title-container {
    top: 160px;
    right: 30px;
}

.second-title-img {
    width: 80px;
    height: 80px;
    margin-right: 20px;
}

.second-title-text {
    width: 200px;
    height: 50px;
}