*{ 
    margin: 0px;
    padding: 0px;
    border: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

/*******Global classes*******/

.grid {
    display: grid;
}

.flex {
    display: flex;
}

.Fr-wrap {
    flex-wrap: wrap;
}

.absolute {
    position: absolute;
}

.AI-center {
    align-items: center;
}

.JC-space-around {
    justify-content: space-around;
}

.JC-center {
    justify-content: center;
}

.M-auto {
    margin: auto;
}

.F-left {
    float: left;
}

.F-right {
    float: right;
}

.OF-auto {
    overflow: auto;
}

.Br-15 {
    border-radius: 15px;
}

.Br-50 {
    border-radius: 50%;
}

.text {
    height: 25px;
    margin-top: 25px;
    margin-bottom:25px;
}

.separation {
    width: 250px;
    height: 30px;
    margin: 120px auto;
    border: 1px solid black;
}

/*******Color classes*******/

.gray-1 {
    background: black;
}

.gray-2 {
    background: rgb(90, 90, 90);
}

.gray-3 {
    background: rgb(150, 150, 150);
}

.gray-4 {
    background: rgb(220, 220, 220);
}

/*******nav-bar*******/

nav {
    grid-column: 1/3;
    grid-row: 1/2;
    height: 97px;
}

.nav-logo {
    width: 50px;
    height: 50px;
}

.nav-words {
    width: 120px;
    height: 50px;
}

.nav-search {
    width: 400px;
    height: 60px;
}

/*******second nav-bar*******/

.main-title-container {
    width: 500px;
    top: 160px;
    left: 50%;
    transform: translate(-50%);
}

.main-title-line1 {
    width: 100%;
    height: 70px;
}

.main-title-line2 {
    width: 40%;
    height: 70px;
}

.second-title-container {
    top: 160px;
    right: 30px;
}

.second-title-img {
    width: 80px;
    height: 80px;
    margin-right: 20px;
}

.second-title-text {
    width: 200px;
    height: 50px;
}

/*******four articles section*******/

.four-articles-container{
    grid-template-columns: 1fr 1fr;
}

.fa1-container {
    grid-column: 1/2;
    grid-row: 2/3;
    border: 1px solid gray;
}

.fa1-items-container{
    width: 620px;
    margin-top: 300px;
    margin-bottom: 80px;
}

.fa-header-container {
    width: 620px;
}

.fa-title {
    margin-left: 30px;
    margin-top: 15px;
}

.fa-text-container {
    width: 620px;
    margin-top: 20px;
}

.fa-img {
    width: 86px;
    height: 96px;
}

.fa-title {
    width: 300px;
    height: 30px;
}

.fa-lines {
    margin: 25px 0;
}

.fa-line1 {
    width: 620px;
    height: 50px;
}

.fa-line2 {
    width: 520px;
    height: 50px;
}

.fa-line3 {
    width: 400px;
    height: 50px;
}

.fa-line3-1 {
    width: 130px;
    height: 25px;
    margin-left: 15px;
    margin-top: 10px;
}

.fa-footer-container {
    width: 620px;
    margin-top: 60px;
}

.fa-footer-line {
    width: 100px;
    height: 23px;
    margin-right: 80px;
}

.fa-arrow {
    width: 65px;
    height: 10px;
    margin-top: 130px;
}

.fa2-container  {
    grid-column: 2/3;
    grid-row: 2/3;
    border: 1px solid gray;
}

.fa2-items-container{
    width: 620px;
    margin-top: 300px;
    margin-bottom: 80px;
}


.fa3-container  {
    grid-column: 1/2;
    grid-row: 3/4;
    border: 1px solid gray;
}

.fa3-items-container{
    width: 620px;
    margin-top: 80px;
    margin-bottom: 80px;
}

.fa4-container  {
    grid-column: 2/3;
    grid-row: 3/4;
    border: 1px solid gray;
}

.fa4-items-container{
    width: 620px;
    margin-top: 80px;
    margin-bottom: 80px;
}

/*******Main Grid Container*******/

.main-grid-container {
    grid-template-columns: 150px 1fr 1fr 150px;
}

/*******Membership section*******/

.membership-container {
    grid-column: 1/5;
    grid-row: 1/2;
    border: 1px solid gray;
}

.membership-items-container {
    width: 1100px;
    margin: 60px auto;
}

.membership-img {
    width: 250px;
    height: 350px;
}

.membership-text-container2 {
    margin-top: 60px;
}

.membership-lines {
    width: 700px;
}

.membership-lines2 {
    width: 500px;
}

.membership-btn {
    width: 400px;
    height: 80px;
    margin-top: 60px;
}

/*******eith articles section 1era parte*******/

.eith-articles-main-title-container {
    grid-column: 2/4;
    grid-row: 2/3;
    height: 100px;
}

.eith-articles-main-title {
    width: 500px;
    height: 30px;
    margin-top: 35px;
}

.ea1-container {
    grid-column: 2/3;
    grid-row: 3/4;
    margin-top: 50px;
}

.ea-items-container {
    width: 500px;
}

.ea-date {
    width: 100px;
    height: 20px;
    margin-bottom: 30px;
}

.ea-title {
    width: 100%;
    height: 40px;
    margin-top: 10px;
}

.ea-subtitle {
    width: 250px;
    height: 30px;
    margin: 50px 0;
}

.ea-lines {
    width: 450px;
}

.ea-arrow {
    width: 65px;
    height: 10px;
    margin-top: 100px;
}

.ea2-container {
    grid-column: 3/4;
    grid-row: 3/4;
    margin-top: 50px;
}

.ea3-container {
    grid-column: 2/3;
    grid-row: 4/5;
    margin-top: 150px;
}

.ea4-container {
    grid-column: 3/4;
    grid-row: 4/5;
    margin-top: 150px;
}
